* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #000000;
  color: #ffffff;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 404px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("background.jpg");
}

.game-logo {
  margin-bottom: 36px;
}

.game-name {
  margin-bottom: 36px;
}

.game-name p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card {
  width: 191px;
  height: 178px;
  margin-bottom: 130px;
  position: relative;
}

.number-back-style {
  color: #ffffff;
  font-size: 128px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.number-back-style.start {
  font-size: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.front {
  width: 191px;
  height: 178px;

  position: absolute;

  background: linear-gradient(180deg, #08E795 0%, #06B877 69%, #048153 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  text-align: center;
  overflow: hidden;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: 0.5s ease-in;
}

.back {
  width: 191px;
  height: 178px;

  background: linear-gradient(180deg, #08E795 0%, #06B877 69%, #048153 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  transition: 0.5s ease-in;
}

.game-button {
  display: flex;
  column-gap: 65px;
  align-items: center;
}

.button-here {
  width: 184px;
  height: 45px;
  background: linear-gradient(180deg, #08E795 0%, #06B877 69%, #048153 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
  transition: all .2s;
}

.button-here:active {
  transform: scale(95%);
}

.button-generation-active {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes rotate-1 {
  from {
    transform: rotate(360deg)
  }

  to {
    transform: rotate(0deg)
  }
}

.button-generation {
  background: none;
  border: none;
  cursor: pointer;
}